.row2 {
    /* margin: auto; */
    background-color: rgb(162, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

}

.c2 {
    /* align-items: ; */
    width: 500px;
}

.c2 p {

    color: red;
    font-size: 30px;
}



.c22 img {
    /* float: left; */
    /* padding: auto; */
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 10px solid green;
    margin: 25px;

}







.row3 {
    background-color: rgb(57, 36, 126);
    display: flex;
    /* justify-content: center;
    /* align-items: center;  */
}


.c3 img {
    margin: 25px;
    /* margin-left: 20px; */
    height: 270px;
    width: 400px;
    border-radius: 10%;
    border: 5px solid yellow;
}

.c33 {
    /* margin: 25px; */
    margin-top: 50px;
    color: rgb(198, 218, 69);
    width: 500px;
    /* padding-left: 20px; */
    /* font-size: 20px; */
    justify-content: center;
    /* margin: 25px; */
    align-items: center;
    /* margin: 250px; */
}

.c33 p {
    color: white;
    font-size: 30px;
}









.row4 {
    /* margin: auto; */
    background-color: rgb(183, 26, 97);
    display: flex;
    justify-content: right;
    align-items: right;

}

.c4 {
    /* align-items: ; */
    width: 500px;
    color: azure;
}

.c4 p {

    color: rgb(53, 166, 174);
    font-size: 30px;
    margin: 25px;
}

.c44 img {
    /* float: left; */
    /* padding: auto; */
    height: 300px;
    width: 300px;
    border-radius: 33%;
    border: 5px solid white;
    margin: 25px;
}